/* Mobile. Scroll down past media query to change Desktop specific CSS */
body {
    background-color: lightgreen;
}

h1 {
    color: #ff6661;
}


h2 {
    color: #eceb66;
}

p {
    color: #518cd0;
}

.d3-tip {
    z-index: 9;
}

.text {
    margin: 2px auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    word-wrap: break-word;
}

.redText {
    color: #ff6661
}

.legInline {
    display: inline;
}

.descriptionText {
    padding: 20px;
}

#legend {
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.legend {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#slow {
    color: #ff6661;
    margin: auto;
    padding: auto;
}

#moderate {
    color: #eceb66;
    margin: auto;
    padding: auto;
}

#fast {
    color: #518cd0;
    margin: auto;
    padding: auto;
}

#loaderGif {
    margin: 0 auto;
    height: 50vh;
}

#chartArea {
    max-height: 70vh;
    max-height:  45vw;
    margin: auto;
}

#mondrian {
    grid-column: 2;
    grid-row: 2 / span 1;
    /* width: 100%; */
    max-height: 70vh;
    max-height:  45vw;
    margin: auto;
}


/* TABLET? + DESKTOP */
@media screen and (min-width: 450px) {


    body {
        background-color: #06112b;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: auto auto auto auto auto;
        width: 100vw;
    }

    #titleHead {
        grid-column: 2;
        grid-row: 1/ span 1;
        text-align: center;
    }

    #loaderGif {
        /* display: none; */
        grid-column: 2;
        grid-row: 2 / span 1;
    }

    #legendWrapper {
        grid-column: 2;
        grid-row: 3/ span 1;
        text-align: center;
    }

    #subText {
        grid-column: 2;
        grid-row: 4/ span 1;
        text-align: center;
    }


    #clock {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row: 5/ span 1;
        text-align: center;
        color: #eceb66;
        color: #142650;
        font-family: 'Montserrat', sans-serif;
        /* background-color: #142650; */
        /* position: absolute;
    bottom: 0;
    right: 0; */
    }

    #archive {
        grid-column: 1;
        grid-row: 2/ span 1;
        background-color: #142650;
        margin: 20px 20px auto 20px;
        /* margin: auto; */
        overflow: auto;
        align-content: center;
        color: #ff6661;
        padding: 20px;
        font-family: 'Montserrat', sans-serif;
        height: 70vh;
    }

    /* #archive:hover {
        margin: auto;
    } */

    #description {
        grid-column: 3;
        grid-row: 2/ span 1;
        background-color: #142650;
        color: #ff6661;
        margin: 20px 40px 10px 10px;
        /* align: center; */
        font-family: 'Montserrat', sans-serif;
        height: 70vh;
        overflow: auto;
    }


    .descriptionText {
        padding: 20px;
    }

    #slow {
        margin: auto 50px;
        padding: auto 20px;
    }

    #moderate {
        margin: auto 50px;
        padding: auto 20px;
    }

    #fast {
        margin: auto 50px;
        padding: auto 150px;
        width: 200px;
    }

    #loaderGif {
        height: 50vh;
    }


    /* https://stackoverflow.com/questions/24162194/custom-scrollbar-styling-artifact */
    /* http://jsfiddle.net/hmartiro/Xck2A/1/ */
    .scrollable-element {
        scrollbar-face-color: #367CD2;
        scrollbar-shadow-color: #FFFFFF;
        scrollbar-highlight-color: #FFFFFF;
        scrollbar-3dlight-color: #FFFFFF;
        scrollbar-darkshadow-color: #FFFFFF;
        scrollbar-track-color: #FFFFFF;
        scrollbar-arrow-color: #FFFFFF;
    }

    .scrollable-element::-webkit-scrollbar {
        width: 13px;
        height: 13px;
    }

    /* Side Track */
    .scrollable-element::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
        -webkit-border-radius: 12px;
        border-radius: 12px;
    }

    /* Bottom Handle */
    .scrollable-element::-webkit-scrollbar-thumb {
        -webkit-border-radius: 5px;
        border-radius: 5px;
        background: #ff6661;
        -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
    }





}